<%- include('./partials/header') %>

    <div class="columns">
      
      <div class="column is-half">
        <div id="left-home-column">
          <div class="text-area">
            <h1 class="title" id="title-main">
                DeepWoods is a Place of Secrets
            </h1>
            <p>Where foragers can trade their hard-won secret spots with other hunters. Make a secret, trade it for someone else's, 
              and then get out to the woods!</p>
              <% if(!user) { %>
                <a href="/auth" class="button is-medium login-index-body">Login with Google to Start</a>
                <% } %>
          </div>
          <div id="map" class="map-main"></div>
        </div>
      </div>
      <div class="column is-half">
        <div id="right-home-column">
        <div class="text-area head">
          <h1 class="title">Secret Exchange</h1>
        </div>

          <div class="trade-container-main">
              <% if(trades.length) { %>
                <% trades.forEach((trade) => { %>
                  <div class="trade-block">
                    <p class="trade-detail">Species: <%= trade.species %></p>
                    <p class="trade-detail">Region: <%= trade.region %></p>
                    <p class="trade-detail">Trade details: <%= trade.content %></p>
                  </div>
                  <% }); } else { %>
                    <div class="trade-block">
                      <p> Trades will appear here when somebody posts one. Happy hunting!</p>
                    </div>
                    <br><br>
                      <% }; %>
              
          </div>

        </div>
      </div>
    </div>

    <%- include('./partials/footer') %>