<%- include('../partials/header') %>

<div class="columns">

  <div class="column is-half">
    <div id="left-users-column">

      <div class="messages-container-main">

        <input  id="tab1" type="radio" name="tabs" checked>
        <label class="radio-tab" for="tab1">
          <span class="icon is-small is-left">
            <i class="fas fa-map-marked-alt"></i>Your Secrets
          </span>
        </label>
          
        <input  id="tab2" type="radio" name="tabs">
        <label class="radio-tab" for="tab2">
          <span class="icon is-small is-left">
            <i class="fas fa-chart-line"></i>Your Trades
          </span>
        </label>

        <input  id="tab3" type="radio" name="tabs">
        <label class="radio-tab" for="tab3">
          <span class="icon is-small is-left">
            <i class="far fa-comment-alt"></i>Your Messages
          </span>
        </label>

        <section id="tab-content-1" class="radio-tab-container">
            <% if(secrets.length) { %>
            <% secrets.forEach((secret) => { %>
            <div class="secret-display-block">
              <img class="secret-static-map"  src="https://maps.googleapis.com/maps/api/staticmap?center=<%= secret.lat %>,<%= secret.lng %>&zoom=9&scale=2&size=200x200&maptype=hybrid&key=<%= process.env.MAPS_API %>&markers=size:small%7C<%= secret.lat %>,<%= secret.lng %>" alt="secret <%= secret.species %> location">
              <div class="secret-detail-container">
                <p class="users-secret-detail">Species: <%= secret.species %></p>
                <p class="users-secret-detail">Latitude: <%= secret.lat %> Longitude: <%= secret.lng %></p>
                <p class="users-secret-detail">Area: <%= secret.locale %></p>
                <p class="users-secret-detail">Terrain: <%= secret.terrain %></p>
                <p class="users-secret-detail">Notes: <%= secret.notes %></p>
              </div>
              <a class="button is-light maps-link has-text-link" href="https://www.google.com/maps/search/?api=1&query=<%= secret.lat %>,<%= secret.lng %>" target="_blank">View in Google Maps</a>
              <button class="button trade-button" id="trade-modal<%= secret._id %>">Trade</button>
              <button class="button edit-button" id="modal<%= secret._id %>">Edit</button>
            </div>
            <% /*--------------------- 'Edit' modal for each secret ----------------------------*/ %>
            <div class="modal modal<%= secret._id %>">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Edit Your Secret</p>
                  <button class="delete delete-edit" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                  <div class="secret-display-block">
                    <img class="secret-static-map"  src="https://maps.googleapis.com/maps/api/staticmap?center=<%= secret.lat %>,<%= secret.lng %>&zoom=9&scale=2&size=200x200&maptype=hybrid&key=<%= process.env.MAPS_API %>&markers=size:small%7C<%= secret.lat %>,<%= secret.lng %>" alt="secret <%= secret.species %> location">
                    <div class="secret-detail-container">
                      <p class="users-secret-detail">Species: <%= secret.species %></p>
                      <p class="users-secret-detail">Latitude: <%= secret.lat %> Longitude: <%= secret.lng %></p>
                      <p class="users-secret-detail">Area: <%= secret.locale %></p>
                      <p class="users-secret-detail">Terrain: <%= secret.terrain %></p>
                      <p class="users-secret-detail">Notes: <%= secret.notes %></p>
                    </div>
                  </div>
  
                  <form id="edit-secret-form" action="/secrets/<%= secret._id %>?_method=PUT" method="POST">
        
                      <div class="field is-horizontal">
                        <div class="field-body">
                          <div class="field">
                            <div class="control">
                              <label class="label form-label">Edit Species Info</label>
                              <input name="species" class="input" type="text" placeholder="Species" value="<%= secret.species %>">
                            </div>
                          </div>
                          <div class="field">
                            <div class="control has-icons-left">
                                <label class="label form-label">Edit Region Specificity</label>
                              <input name="locale" class="input" type="text" placeholder="General location(very)" value="<%= secret.locale %>">
                            </div>
                          </div>
                        </div>    
                      </div>
              
                      <div class="field">
                        <label class="label form-label">Edit Terrain</label>
                          <input name="terrain" class="input" type="text" 
                          placeholder="Say something about the terrain" value="<%= secret.terrain %>">
                      </div>
                      
                      <div class="field">
                        <label class="label form-label">Edit Notes</label>
                        <div class="control">
                          <textarea name="notes" class="textarea" placeholder="What else should someone know about this spot? Be specific, this information will remain secret until you complete a trade."><%= secret.notes %></textarea>
                        </div>
                      </div>
                      
                      <button type="submit" class="button is-success edit-submit">Save changes</button>
                  </form>
                </section>
                <footer class="modal-card-foot">
                    <button class="button cancel" >Cancel</button>
                    <form action="/secrets/<%= secret._id %>?_method=DELETE" method="POST">
                      <button type="submit" class="button is-danger is-right">Delete</button>
                    </form>
                </footer>
              </div>
            </div>

            <% /*--------------------- 'Trade' modal for each secret ----------------------------*/ %>
            <div class="modal trade-modal<%= secret._id %>">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Post Your Secret for Trade</p>
                  <button class="delete delete-trade" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                  <div class="secret-display-block">
                    <img class="secret-static-map"  src="https://maps.googleapis.com/maps/api/staticmap?center=<%= secret.lat %>,<%= secret.lng %>&zoom=9&scale=2&size=200x200&maptype=hybrid&key=<%= process.env.MAPS_API %>&markers=size:small%7C<%= secret.lat %>,<%= secret.lng %>" alt="secret <%= secret.species %> location">
                    <div class="secret-detail-container">
                      <p class="users-secret-detail">These are the details that will be visible for your trade. Edit below and add a vague but enticing description below but don't post any spoilers!</p>
                      <p class="users-secret-detail">Species: <%= secret.species %></p>
                      <p class="users-secret-detail">Region: <%= secret.locale %></p>
                    </div>
                  </div>
                  
                  <form id="create-trade-form" action="/trades" method="POST">
                    
                    <input type="hidden" name="secret" value="<%= secret._id %>">
                    <input type="hidden" name="createdBy" value="<%= user._id %>">
                    <input type="hidden" name="status" value="Active">
                    
                    <div class="field is-horizontal">
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <label class="label form-label">Edit Species Info</label>
                            <input name="species" class="input" type="text" placeholder="Species" value="<%= secret.species %>">
                          </div>
                        </div>
                        <div class="field">
                          <div class="control has-icons-left">
                            <label class="label form-label">Edit Region Specificity</label>
                            <input name="region" class="input" type="text" placeholder="General location(very)" value="<%= secret.locale %>">
                          </div>
                        </div>
                      </div>    
                    </div>
                    
                    <div class="field">
                      <label class="label form-label">Say something about your trade here. remember, not too specific!</label>
                      <div class="control">
                        <textarea name="content" class="textarea" placeholder="What do you want your post to say?"></textarea>
                      </div>
                    </div>
                    
                    <button type="submit" class="button is-success edit-submit">Submit for Trade</button>
                  </form>
                </section>
                <footer class="modal-card-foot">
                  <button class="button trade-cancel" >Cancel</button>
                </footer>
              </div>
            </div>
            
            <% });} else { %>
              <div class="secret-display-block">
                <p> Your secret spots will appear here, but you have to add at least one first!</p>
              </div>
              <% }; %>
            </section>
            
            <section id="tab-content-2" class="radio-tab-container">
              <% if(trades.length) { %>
                <% trades.forEach((trade) => { %>
                  <div class="trade-block">
                    <p class="trade-detail">Region: <%= trade.region %></p>
                    <p class="trade-detail">Trade details: <%= trade.content %></p>
                  </div>
                <% }); } else { %>
                  <div class="secret-display-block">
                    <p> Your trades will appear here, but you have to add at least one first!</p>
                  </div>
              <% }; %>
            </section>
                  
        <section id="tab-content-3" class="radio-tab-container">
            <% if(trades.length) { %>
              <% trades.forEach((trade) => { %>
                <% }); } else { %>
                  <div class="secret-display-block">
                    <p> Your messages will appear here when another forager wants to talk about a trade</p>
                  </div>
                    <% }; %>
          </section>
      
      </div>

    </div>
  </div>

  <div class="column is-half">
    <div id="right-users-column">

      <div id="map"></div>

      <div class="text-area">
        <p id="secret-instructions">Move the pin on the map to your secret location. Then fill out the fields below and save your secret to trade later.</p>
      </div>

      <form id="add-secret-form" action="/secrets" method="POST">
        
        <input id="lat-input" type="hidden" name="lat">
        <input id="lng-input" type="hidden" name="lng">
        <input type="hidden" name="status" value="fresh">
        <input type="hidden" name="creator" value="<%= user.googleId %>">

        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="species" class="input" type="text" placeholder="Species">
              </div>
            </div>
            <div class="field">
              <div class="control has-icons-left">
                <input name="locale" class="input" type="text" placeholder="General location(very)">
                <span class="icon is-small is-left">
                  <i class="far fa-compass"></i>
                </span>
              </div>
            </div>
          </div>    
        </div>

        <div class="field">
          <label class="label form-label">Terrain</label>
            <input name="terrain" class="input" type="text" placeholder="Say something about the terrain">
        </div>
        
        <div class="field">
          <label class="label form-label">Notes</label>
          <div class="control">
            <textarea name="notes" class="textarea" placeholder="What else should someone know about this spot? Be specific, this information will remain secret until you complete a trade."></textarea>
          </div>
        </div>
        
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Submit</button>
          </div>
          <div class="control">
            <button type="reset" class="button is-text">Cancel</button>
          </div>
        </div>
        
      </form>

    </div>
  </div>
  
</div>

<%- include('../partials/footer') %>